<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posture Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <audio id="alertSound" src="{{ url_for('static', filename='sounds/sound.mp3') }}" preload="auto"></audio>
</head>
<body>
    <div id="logoContainer">
        <img src="{{ url_for('static', filename='images/backpak.png') }}" alt="Logo" id="logo">
    </div>
    <div id="startContainer">
        <div id="startButton">
            <span>Start</span>
        </div>
    </div>
    <div id="postureContainer" style="display: none;">
        <h1 id="postureMessage">Monitoring your posture...</h1>
    </div>
    <div id="stopContainer" style="display: none;">
        <button id="stopButton">Stop Monitoring</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
