body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100vh; /* Full viewport height */
    background-color: #f1efe7; /* Updated background color */
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
}

#logoContainer {
    width: 100%; /* Full width */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    margin-bottom: 20px; /* Add some space below the logo */
}

#logo {
    width: 100%; /* Fill the width */
    max-width: 600px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
}

#startContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Change height to auto */
    padding: 20px; /* Add some padding */
}

#startButton {
    position: relative; /* Set position to relative to ensure it appears above the background */
    z-index: 1; /* Ensure the button appears above the background */
    width: 80vw; /* Responsive width */
    max-width: 300px; /* Maximum width */
    height: 80vw; /* Responsive height */
    max-height: 300px; /* Maximum height */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Black background for the button */
    cursor: pointer;
    font-size: 12.5vw; /* Responsive font size */
    color: white; /* White text color */
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adding shadow */
}

#startButton:hover {
    background-color: #333; /* Darker shade on hover */
    transform: translateY(-2px); /* Lift effect on hover */
}

#postureContainer {
    width: 92vw; /* Responsive width */
    max-width: 600px; /* Maximum width */
    height: 420px; /* Fixed height */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Adding shadow */
}

.green {
    background-color: #28a745; /* Green for good posture */
}

.red {
    background-color: #dc3545; /* Red for bad posture */
}

#stopContainer {
    width: 100vw; /* Fill the entire width of the viewport */
}

#stopButton {
    width: 101vw; /* Fill the width of the stopContainer */
    height: 60px; /* Desired height */
    background-color: #ff4d4d; /* Red background for stop button */
    color: white; /* Text color */
    font-size: 24px; /* Font size for text */
    font-weight: bold; /* Make text bold */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor on hover */
    text-align: center; /* Center the text */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adding shadow */
}

#stopButton:hover {
    background-color: #d13f3f; /* Darker shade on hover */
    transform: translateY(-2px); /* Lift effect on hover */
}

#timer {
    font-size: 36px; /* Increase font size for timer */
    margin-top: 20px;
    font-weight: 500; /* Slightly bolder font weight */
    color: black; /* Orange color for timer */
}

h1 {
    font-size: 30px; /* Set h1 font size */
    color: black; /* Black text color for headings */
    margin-bottom: 10px; /* Spacing below heading */
}

p {
    font-size: 18px; /* Set paragraph font size */
    color: #333; /* Darker text color for paragraphs */
}
